
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
           {% if user == request.user %}
              <a href="{% url 'profile' %}" class="btn btn-secondary btn-sm mt-1 mb-1">UPDATE</a>
          {% endif %}
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile</legend>

          </fieldset>
      </form>
    </div>
<div>
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>

              <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">

            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|slice:":300" }}...</p>
          </div>
        </article>
    {% endfor %}
    </div>
{% endblock content %}